* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1faee;
}

p, h2, h1, h3, div {
  background-color: transparent;
  color: #1D3557;
}

a {
  color: #1D3557;
  font-size: 1.3rem;
  text-decoration: none;
}